<div id='game'>
<%if @loser %>
  <div class="alert alert-error"><%=@loser%></div>
<%elsif @winner %>
  <div class="alert alert-success"><%=@winner%></div>
<% end %>

<% if @play_again_button %>
  <p>
    <strong>Play again? </strong>  
    <a href='/bet' class='btn btn-primary'>Yes</a>
    <a href='/new_game' class='btn'>No</a>
  </p>
  <% else %>
    <p>Welcome, <%= session[:name] %>!</p>
    <h4>Current holdings: $<%= session[:player_earnings] %>. Current bet: $<%= session[:bet] %></h4>
<% end %>




<div class='well'>
  <% if session[:turn] == session[:name] %>
  <h4>Dealer's Cards</h4>
  <% else %>
  <h4>Dealer's Cards: Total is <%= calculate_total(session[:dealer_cards]) %></h4>
  <% end %>
  
      <% session[:dealer_cards].each_with_index do |card, i| %>
        <% if session[:turn] == session[:name] && i == 0   %>
          <img src="/images/cards/cover.jpg"> 
          <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>
      
        
  <% if @show_dealer_button %>
    <p>
      <h4>Dealer hits...</h4>
        <form id='dealer_hit' action='/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-primary btn-large' value='See next card &rarr;'/>
        </form>
    </p>
  <% end %>
</div>
<div class='well' id='player_well'>
  <h4>Player's Cards: Total is <%= calculate_total(session[:player_cards])%></h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<% if @hit_stay_buttons %>
  <h4>Do you want to hit or stay?</h4>
  <p>
    <form id="hit_form" action='/game/player/hit' method='post'>
      <input type='submit' class='btn btn-warning btn-large' value='Hit'/>
    </form>
    <form id="stay_form" action=/game/player/stay method=post>
      <input type=submit class='btn btn-primary btn-large' value=Stay />
    </form>
  </p>
<% end %>
</div>


